@font-face {
    font-family: 'Amagro';
    src: url('./assets/fonts/webfonts/Amagro-bold.woff2') format('woff2'),
        url('./assets/fonts/webfonts/Amagro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    background-color: #132701;
    margin:0%
}
.formContainer {
    margin:0%;
    height: 100vh;
    width:70vw;
    display:flex;
    flex-direction: row;
    /*background-color:#f6eec1;*/
    background-color: #e7e7e7;
    border:0%;
}
.leftContainer {
    background-image: url('./assets/photos/door.jpg');
    background-size: cover;
    background-position: center;
    
    width: 40%;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: none;
}

.bannerFooter {
    font-size:small;
    margin-top: 45vh;
    text-decoration: none;
    font-family: serif;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
}

.banner {
    display:flex;
    flex-direction:row;
    align-items: center;
    font-size: 1.6vw;
    margin:0%;
    font-family: 'Amagro', serif;

}

.bannerContainer {
    background-color: rgba(0, 0, 0, 0.307);
    width:100%;
    height: 6vw;
    margin-bottom:40%;  
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5vw;
    box-sizing: content-box;
}

a {
    color:white;
}

.logo {
    width:3.5em;
    height: 3.5em;;
    filter: brightness(100%)
}
.rightContainer {
    width:60%;
    font-size:1em;
    font-family:serif;
    font-weight: 550;
}

.sectors {
    padding:2em;
    display:flex;
    flex-direction: row;
    font-size:1.2vw;
    position: relative;
    
}

.rightContainer p {
    padding:1em;
    border:0%;
    margin:0%;
    box-sizing: content-box;
}

.silly {
    margin-top:0;
    background:linear-gradient(to bottom, #538e00, #05455f);
    background-clip:text;
    color:transparent;
    font-weight: 900;
    text-decoration:underline;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #000000;
    border-bottom-width: 1.5px;
}

.signupContainer {
    box-shadow: 0em .2em 1em#000000a2;
    height:40vh;
    width:100%;
    padding:1em;
    margin-top:2em;
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.signupContainer input {
    margin-top:1em;
    width: 10vw;
}

fieldset {
    outline:none;
    border-width: 0em;
    display: flex;
    flex-direction: column;
    margin-right:2em;
}

.fieldsetContainer {
    display:flex;
    flex-direction: row;
    width:100%l
}

form {
    display:flex;
    flex-direction:column;
    align-items: start;
    flex-wrap: wrap;
    width:100%;
    padding-bottom:5em;
}

legend {
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding:0%;
    margin-left: 0.8em;;
}

label {
    font-size:0.8em;
    font-weight: 300;
    margin-top:.5em;
}

.submitContainer {
    margin:2em;
}

input[type="button"] {
    background: #538e00;
    color:white;
    border-radius:10%;
    height: 5vh;
    font-family: serif;
    font-weight: 900;
}

.submitContainer p {
    font-size: small;
    font-weight: 300;
    margin-left:0%;
    margin-top:1em;
    padding:0%;
}

.submitContainer a {
    color:purple;
}

input:invalid {
    border:red;
}

input:focus{
    border:purple;
}
