@font-face {
    font-family: 'Amagro';
    src: url('./assets/fonts/webfonts/Amagro-bold.woff2') format('woff2'),
        url('./assets/fonts/webfonts/Amagro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin:0;
    padding:0;
    outline: solid 1px red;
}
body {
    font-family: 'Amagro', serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing:border-box;
    background-color: #132701;
}
.formContainer {
    height: 100vh;
    width:95vw;
    display:flex;
    flex-direction: row;
    /*background-color:#f6eec1;*/
}
.leftContainer {
    background-image: url('./assets/photos/door.jpg');
    background-size: cover;
    background-position: center;
    padding:1em;
    width: 40%;
}
.rightContainer {
    
}