@font-face {
    font-family: 'Amagro';
    src: url('./assets/fonts/webfonts/Amagro-bold.woff2') format('woff2'),
        url('./assets/fonts/webfonts/Amagro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    background-color: #132701;
    margin:0%
}
.formContainer {
    margin:0%;
    height: 100vh;
    width:70vw;
    display:flex;
    flex-direction: row;
    /*background-color:#f6eec1;*/
    background-color: #e7e7e7;
    border:0%;
}
.leftContainer {
    background-image: url('./assets/photos/door.jpg');
    background-size: cover;
    background-position: center;
    width: 40%;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: none;
}

.bannerFooter {
    font-size:small;
    margin-top: 45vh;
    text-decoration: none;
    font-family: serif;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
}

.banner {
    display:flex;
    flex-direction:row;
    align-items: center;
    font-size: 1.6vw;
    margin:0%;
    font-family: 'Amagro', serif;

}

.bannerContainer {
    background-color: rgba(0, 0, 0, 0.307);
    width:100%;
    height: 6vw;
    margin-bottom:40%;  
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5vw;

}

a {
    color:white;
}

.logo {
    width:3.5em;
    height: 3.5em;;
    filter: brightness(100%)
}
.rightContainer {
    width:60%;
    font-size:1em;
    padding:2em;
    font-family:serif;
    font-weight: 550;
}

.sectors {
    display:flex;
    flex-direction: row;
    font-size:1.2vw;
    margin-bottom:5em;
    position: relative;
    
}
.sectors p {
    margin:0.8em;
}

.silly {
    margin-top:0;
    background:linear-gradient(to bottom, #538e00, #05455f);
    background-clip:text;
    color:transparent;
    font-weight: 900;
    text-decoration:underline;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #000000;
    border-bottom-width: 1.5px;
}

.signupContainer {
    box-shadow: #000000;
    height: 2vw;
}

