@font-face {
    font-family: 'Amagro';
    src: url('Amagro-bold.woff2') format('woff2'),
        url('Amagro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

